.container-register {
    left: 0;
    opacity: 0;
    width: 50%;
    z-index: 1;
}

.container.right-panel .container-register {
    animation: show 0.6s;
    opacity: 1;
    transform: translateX(100%);
    z-index: 5;
}